################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DefectMonitoringSystem/.vs/DefectMonitoringSystem/CopilotIndices/17.14.1518.61961/CodeChunks.db
/DefectMonitoringSystem/.vs/DefectMonitoringSystem/CopilotIndices/17.14.1518.61961
/.vs
/DefectMonitoringSystem/.vs

.vs/
[Bb]in/
[Oo]bj/
/DefectMonitoringSystem/obj/Debug/net8.0/DefectMonitoringSystem.AssemblyInfo.cs
